body{
  
    
}

.logo{
    font-family: Segoe Script;
    font-weight: bolder;
    font-size: 26px;
   
}
.food{
    font-family: Courier;
    font-size:7px;
}
.imglogo{
    display: inline-block;


}
.logodiv{
    display: inline-block;
    transform: translateX(3%);
    
   
}
.contaner{
    position: relative;
}
header nav{
    position: absolute;
    right: 0;
    top: 50%;
    
}
header{
    position: relative;
}
.print{
position: absolute;
transform: translateX(8430%);
margin-bottom: 3%;
    
}
.divlist{
    background-image: url('img/list-bg.png');
text-align: center;
    position: relative;
    padding-top:  40px;
}
.divlist ul {
    font-family: Comic Sans MS;
    width: 200px;
    height: 200px;
    margin-left: 2%;
    display: inline-block;
}  


